

article p::first-letter{
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}

article img{
    float:left;
    margin-right:1em;
    margin-bottom:1em;
}
body{
    background-color: aqua;
    padding-left: ;
    padding-top: ;
    padding-bottom: ;
    padding-right: ;
    width: 95%;
    margin: 15px auto;
}
article{
    width: 75%;
}
aside{
    width: 25%;
    appearance: fixed
}
aside ol{
    list-style-type: upper-roman;
}
aside ul{
    list-style-type: square;
}